body {
	width: 60%;
	max-width: 500;
	margin: 0 auto;
	background-color: rgb(46, 110, 129);
	font-size: 62.5%;
}

img {
	width: 20;
	max-width: 80%;

header 
main
footer {
	background-color: white
	(230, 176, 176);
	font-size: 1.6em;
}

header {
	padding: 1.875em 0;
}

header h1 {
	text-align: center;
}
